.card{
    border: 1px solid #A2A2A2;
    padding: 16px;
    border-radius: 8px;
}

.card .user{
  display: flex;
  align-items: center;
  color: #A2A2A2;
  gap: 10px;
  margin-bottom: 7px;
}
.card .textContent{
  color: #FFFFFF;
  font-weight: 200;
  padding-left: 50px;
}
.card .user img{
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.card ul{
  margin-top: 7px;
  display: flex;
  gap: 7px;
}
.card li img{
  width: 20px;
  height: 20px;
  object-fit: contain; 
}
.card .time{
  font-size: 1.3rem;
}
li span{
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 100;
}
li{
  cursor: pointer;
}
.formComment{
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}
.formComment input{
  border: solid 1px #A2A2A2;
  border-radius: 20px;
  padding: 7px;
  outline: none;
  color: #686868;
}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-container input {
  padding-left: 35px; /* laisse de la place pour l’emoji à gauche */
  width: 100%;
}
.btnCommentPost{
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: .5s ease-in-out;
  margin-left: 5px;
}
.btnCommentPost:hover,
.emojiBtn:hover{
  opacity: .6;
}
.emojiBtn{
  position: absolute;
  left: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: .5s ease-in-out;
}
.btnCommentPost img,
.emojiBtn img{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.comment-list{
  background-color: #FFFFFF;
  text-align: left;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
}
.comment-list p{
  color: #686868;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 200;
}

.emoji-picker{
  background-color: #FFFFFF;
  width: max-content;
  display: flex;
  gap: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
.emoji{
  cursor: pointer;
}