.card{
    border: 1px solid #A2A2A2;
    padding: 16px;
    border-radius: 8px;
}

.card .user{
  display: flex;
  align-items: center;
  color: #A2A2A2;
  gap: 10px;
  margin-bottom: 7px;
}
.card .textContent{
  color: #FFFFFF;
  font-weight: 200;
  padding-left: 50px;
}
.card .user img{
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.card ul{
  margin-top: 7px;
  display: flex;
  gap: 7px;
}
.card li img{
  width: 20px;
  height: 20px;
  object-fit: contain; 
}
.card .time{
  font-size: 1.3rem;
}