.card{
    border: 1px solid #A2A2A2;
    padding: 16px;
    border-radius: 8px;
}

.user{
  display: flex;
  align-items: flex-start;
  
}
.user img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  text-align: left;
}
ul li img{
  width: 20px;
  height: 20px;
  object-fit: contain; 
  gap: 5px;
}