header{
  background-color: #19181A;
  color: #FFFFFF;
  font-size: 12px;
  height: 80px;
  padding: 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul{
  display: flex;
  gap: 30px;
}
li a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  gap: 2px;
  text-align: center;
  transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out;
}
li a:hover{
  opacity: 0.6;
  filter: brightness(1.2);
}

img{
  width: 30px;
  height: 30px;
  object-fit: contain; 
  display: block;
  margin: 0 auto; 
}