@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
html {
  font-size: 62.5%;
  block-size: border-box;
  scroll-behavior: smooth;
}

body {
  
  font: 1.6rem "Poppins", sans-serif;
  line-height: 1.6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure,
blockquote,
ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a{
  text-decoration: none;
}
